build
dist / media / files
node_modules
.DS_Store
.env
.next
next-env.d.ts
.vercel
tsconfig.tsbuildinfo

.docker/

# Payload default media upload directory
public/media/
public/files/

public/robots.txt
public/sitemap*.xml
